.DS_Store
Thumbs.db

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

automation-backend/.venv/
automation-backend/wa-profile/
automation-backend/boletos/
automation-backend/enviados/
automation-backend/erro/

backend/node_modules/
backend/uploads/
frontend/node_modules/

**/.env
**/.env.*

dist/
build/
.vite/
